@media screen and (max-width: 780px) {
  .log-div {
    display: flex;
    margin: 0 2px;
  }
  .icons-div {
    display: none;
  }
  .searchbar-div {
    width: 100%;
  }
  .search-btn{
    width: 100%;
    font-size: 8px;
  }
  .book-list {
    display: flex;
    flex-direction: column;
  }

  .only-book-image-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .select-Book-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .select-book-title {
    flex-direction: column;
  }
  .info-box {
    flex-direction: column;
    gap: 10px;
  }
  .select-book-info-div {
    height: auto;
    padding: 15px;
  }
  .Book-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-image {
    width: auto;
    border-right: none;
    transform: rotate(0deg);
    height: auto;
  }
  .book-info-div {
    /* width: 100%; */
    height: 100%;
    padding: 10%;
  }
  .search-btn {
    font-size: 8px;
  }
  .book-list-more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: space-between;
    width: 20px;
    /* justify-content: center;
    align-items: center; */
    /* width: 15px; */
  }
}
